
<div class="app-list-nested">

	{{#if formModel}}
		{{component formComponent model=formModel title=formTitle titleField=modelTitleField formSubmitted="formSubmitted" parentModel=parentModel parentField=parentField modelParentField=modelParentField}}
	{{/if}}

	{{yield}}
	
	<div class={{tableWrapClass}}>	
	<div class="box box-info">
		<div class="box-header with-border">

			<h4 class="box-title pull-left" style="padding-right: 50px;">{{title}}</h4>

			{{#if allowCreate}}
				<button class="btn btn-primary btn-create btn-sm pull-left" {{action "create" }}>
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			{{/if}}

			<div class="box-tools">
				<div class="pager-wrap">
					
				</div>
			</div>
		</div>

		<div class="box-body table-responsive no-padding">
			{{component itemsComponent columns=columnList models=models actionColumnComponent=actionColumnComponent updateModelIsLoading=updateModelIsLoading allowUpdate=allowUpdate allowDelete=allowDelete totalModels=totalModels canOrder=canOrder canOrderHierarchy=canOrderHierarchy updatingOrdering=updatingOrdering}}
		</div>
	</div> <!-- ./ list box -->
	</div> <!-- end of box wrapper -->
	
</div>
