<div class="admin-form">
	<div class="box box-primary">
		<div class="box-header with-border">
			{{#if title}}
			<div class="box-title">
				{{title}}
			</div>
			{{/if}}

			<div class="box-body">
				{{#if loading}}
				<div class="" style="position: relative;">
					{{ember-spinner}}
				</div>
				{{/if}}

				{{#if errorList.length}}
				<div class="alert alert-danger">
					<ul>
						{{#each errorList as |error|}}
						<li>
							{{error}}
						</li>
						{{/each}}
					</ul>
				</div>
				{{/if}}

					{{#if hasBlock}}
						{{yield}}
					{{else}}

						{{#each fieldList as |field|}}

							{{#if field.component}}
								{{component field.component field=field model=model label=field.label property=field.field}}
							{{/if}}

							{{#unless field.component}}
								{{#if (eq field.type "string")}}
									{{em-input property=field.field label=field.label placeholder=field.placeholder}}
								{{/if}}

								{{#if (eq field.type "boolean")}}
									{{em-checkbox label=field.label property=field.field}}
								{{/if}}

								{{#if (eq field.type "relationship")}}
									{{app-form-relationship model=model field=field.field label=field.label}}
								{{/if}}
							{{/unless}}

						{{/each}}

					{{/if}}

			</div>
		</div> <!-- ./.box-body -->

		<div class="box-footer">
			{{#if cancelLabel}}
			<button class="btn btn-default" {{action "formCancelled" }}>{{cancelLabel}}</button>
			{{/if}}

			{{#if submitLabel}}
			<button class="btn btn-default" {{action "submit"}} disabled={{canSubmit}}>{{submitLabel}}</button>	
			{{/if}}
		</div>
	</div>  <!-- ./.box -->

</div> <!-- ./.admin-form -->
